:root {
	box-sizing: border-box;
	--plus-btn-color: rgba(254, 251, 246, 1.0);
	--plus-btn-color-disabled: rgba(244, 221, 184, 1.0);
	--plus-btn-hover-color: rgba(215, 228, 249, 1.0);
	--plus-lbl-color: #4489e2;
	--plus-lbl-color-dark: rgba(22, 74, 141, 1.0);
	--plus-tb-color: #E1E7EF;
	--plus-underline-color: rgba(244, 209, 37, 1.0);
	--plus-cgc-add-btn: rgba(249, 236, 215, 1.0);
	--plus-cgc-header: #f5d642;
	--plus-mid-gold: rgba(238, 200, 140, 1.0);
	--plus-dark-gold: rgba(222, 145, 43, 1.0);
	--plus-darker-gold: rgba(203, 129, 32, 1.0);
	--plus-darkest-gold: rgba(181, 115, 28, 1.0);
	--plus-asset-start: #4489e2;
	--plus-asset-end: rgba(14, 46, 88, 1.0);
	--plus-liability-start: rgb(240, 124, 143);
	--plus-liability-end: rgb(175, 6, 40);
	--plus-btn-padding: 0.1rem 0.3rem 0.1rem 0.3rem;
	--plus-txt-padding: 4px 4px 4px 4px;
	--plus-lbl-margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	--plus-sm-fnt: 0.74rem;
	--plus-lbl-sz: 0.9rem;
	--plus-title-sz: 1.1rem;
	--plus-max-width: 1300px;
}

*,
::before,
::after {
	box-sizing: inherit;
}

* {
	//min-width: 0;
}

// α <custom_use_sparingly>

.gold-gradient {
	fill: linear-gradient(to bottom, var(--plus-mid-gold), var(--plus-dark-gold));
}

@keyframes grow-width {
	0% {
		width: 0;
		left: 0%;
	}

	100% {
		width: 100%;
		left: 0;
	}
}

@keyframes shrink-width {
	0% {
		width: 0;
		left: 0%;
	}

	100% {
		width: 100%;
		left: 0;
	}
}

// falling-circles
@keyframes falling-circle-left {
	from {
		transform: translate(5%, 5px) scale(0.005);
	}

	to {}
}

@keyframes falling-circle-center {
	from {
		transform: translate(50%, 5px) scale(0.005);
	}

	to {}
}

@keyframes falling-circle-right {
	from {
		transform: translate(75%, 5px) scale(0.005);
	}

	to {}
}

// TODO: Temporary removal of extras, to eventually become new
// `Reconciled` component
.year-extras {
	display: none;
}

// ω <custom_use_sparingly>

body {
	// α <elm-body>
	font-family: Helvetica, Arial, sans-serif;
	font-family: sans-serif;
	font-size: 14px;
	//max-width: 700px;
	// ω <elm-body>
}

button {
	// α <elm-button>
	background-color: var(--plus-btn-color);
	border-radius: 0.3rem;
	border: 1px solid;
	font-size: var(--plus-sm-fnt);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	padding: var(--plus-btn-padding);
	margin-top: var(--plus-btn-margin);

	&:hover {
		background-color: var(--plus-btn-hover-color);
	}

	&:disabled {
		background-color: var(--plus-btn-color-disabled);
	}

	// ω <elm-button>
}

form {
	// α <elm-form>

	display: inline-block;

	p {
		margin: 0;
	}

	// ω <elm-form>
}

fieldset {
	// α <elm-fieldset>
	border-radius: 5px;
	margin: 1rem;
	margin-bottom: 15px;
	//max-width: var(--plus-max-width);
	max-width: 95%;
	//width: 100%;
	// ω <elm-fieldset>
}

label {
	// α <elm-label>
	//display: inline-block;
	white-space: nowrap;
	color: var(--plus-lbl-color-dark);
	font-size: var(--plus-lbl-sz);
	vertical-align: text-bottom;
	//font-weight: 600;

	* {
		margin-left: 3px;
		margin-right: 3px;
		vertical-align: baseline;
	}

	// ω <elm-label>
}

legend {
	// α <elm-legend>
	margin: 0.8rem;
	//padding: 1rem;
	font-weight: bold;
	font-size: 1.05rem;
	//max-width: 800px;
	// ω <elm-legend>
}

input {
	// α <elm-input>
	// ω <elm-input>
}

/*
  Adds `text-align=right;`
*/
.txt-right {
	// α <txt_right>
	text-align: right;
	// ω <txt_right>
}

/*
  Adds `text-align=right; padding-left=1rem;`
*/
.txt-right-pad-left {
	// α <txt_right_pad_left>
	text-align: right;
	padding-left: 1rem;
	// ω <txt_right_pad_left>
}

/*
  Adds `padding-left=1rem;`
*/
.pl-left-1 {
	// α <pl_left_1>
	padding-left: 1rem;
	// ω <pl_left_1>
}

/*
  Style text that is a title to some data like a chart.
*/
.title {
	// α <title>
	display: inline-block;
	font-size: var(--plus-title-sz);
	//font-weight: bold;
	margin: 0.5rem;
	margin-right: 5rem;
	white-space: nowrap;
	// ω <title>
}

/*
  Style for invalid content
*/
.invalid {
	// α <invalid>
	//textarea {
	background-color: rgb(237, 199, 199);
	//box-sizing:border-box;
	//border: 2px solid red;

	&:focus {
		border: 2px solid red;
		//box-sizing: border-box;
	}

	//}
	// ω <invalid>
}

/*
  Style table caption
*/
.tbl-caption {
	// α <tbl_caption>
	font-size: 1.0rem;
	font-weight: bold;
	margin-bottom: 6px;
	// ω <tbl_caption>
}

/*
  Style in flow text
*/
.in-flow {
	// α <in_flow>
	color: darkolivegreen;
	// ω <in_flow>
}

/*
  Style out flow text
*/
.out-flow {
	// α <out_flow>
	color: darkred;
	// ω <out_flow>
}

/*
  Styles a button toolbar to the top
*/
.btn-tb-top {
	// α <btn_tb_top>
	display: flex;
	//display: grid;
	//grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	//grid-template-rows: 1fr;
	justify-content: center;
	// This pushes the button to the top
	align-items: first;
	background-color: var(--plus-btn-color);
	gap: 1rem;
	padding-left: 15%;
	padding-right: 15%;

	div {
		flex: 1;
		min-width: 0;
	}

	// For horizontal toolbar make bottom margin small
	.plus-tibc {
		margin: 3 0.12rem 0.5rem 0.12rem;
	}

	// ω <btn_tb_top>
}

/*
  Styles a button toolbar to the right
*/
.btn-tb-right {
	// α <btn_tb_right>

	display: flex;
	flex-direction: column;
	justify-content: start;

	background-color: var(--plus-btn-color);
	// ω <btn_tb_right>
}

/*
  Styles a button toolbar to the bottom
*/
.btn-tb-bottom {
	// α <btn_tb_bottom>

	display: flex;
	justify-content: center;
	align-items: first;
	background-color: var(--plus-btn-color);
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;

	// ω <btn_tb_bottom>
}

/*
  Styles a button toolbar to the left
*/
.btn-tb-left {
	// α <btn_tb_left>

	display: flex;
	flex-direction: column;
	justify-content: start;
	background-color: var(--plus-btn-color);

	// ω <btn_tb_left>
}

/*
  Styles an image button with a label beneath
*/
.lbl-btn {
	// α <lbl_btn>

	margin: 0.2rem;
	padding: 0.5rem;

	button {
		border: 3px solid;
		border-radius: 6px;
	}

	label {
		margin-top: 0.4rem;
		white-space: normal;
	}

	// ω <lbl_btn>
}

/*
  Styles the image in a ToggleImageButton
*/
.tib-img {
	// α <tib_img>

	background-color: white;
	width: 2.8rem;
	height: 2.8rem;

	// ω <tib_img>
}

/*
  Styles the label for a ToggleImageButton
*/
.tib-lbl {
	// α <tib_lbl>
	margin-top: 7.5px;
	white-space: nowrap;
	// ω <tib_lbl>
}

/*
  Style grid label in various CollectionGridComponents
*/
.grid-lbl {
	// α <grid_lbl>
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.05rem;
	// ω <grid_lbl>
}

/*
  Style header to left
*/
.header-left {
	// α <header_left>
	background-color: var(--plus-cgc-header);
	//color: var(--plus-underline-color);
	text-align: left;
	font-weight: bold;
	padding: var(--plus-txt-padding);
	// ω <header_left>
}

/*
  Style header to right
*/
.header-right {
	// α <header_right>
	//background-color: var(--plus-cgc-header);
	background-image: linear-gradient(to bottom, var(--plus-mid-gold), var(--plus-dark-gold));

	//color: var(--plus-underline-color);
	text-align: right;
	font-weight: bold;
	padding: var(--plus-txt-padding);
	//border-radius: 3px;

	// ω <header_right>
}

/*
  Style used on askama tables.
  Used extensively and the css class will not show up in a search
  that does not include askama html templates
*/
.content-table {
	// α <content_table>
	border-collapse: collapse;
	margin: 1rem;
	font-size: 0.9em;
	min-width: 250px;
	overflow: scroll;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px 5px 0 0;
	//overflow: hidden;

	tr>td.divider {
		border-bottom: solid 1px;
	}

	.numeric-summary-row {
		border-top: solid 2px;
		border-bottom: solid 2px;
	}

	.numeric-summary-row-stark {
		border-top: solid 2px;
		border-bottom: solid 2px;
		font-weight: bold;
	}

	.numeric-summary-row-2 {
		border-bottom: solid 3px;
	}

	th {
		margin: 5px;
		padding: 3px 8px;
		white-space: nowrap;
	}

	td {
		margin: 5px;
		padding: 3px 8px;
		white-space: nowrap;
	}

	td.left-1rem {
		text-indent: -1rem;
	}

	td.left-2rem {
		text-indent: -2rem;
	}

	td.right-1rem {
		text-indent: 1rem;
	}

	td.right-2rem {
		text-indent: 2rem;
	}

	td.numeric {
		text-align: right;
	}

	th.numeric {
		text-align: right;
	}

	thead {
		tr {
			background-image: linear-gradient(to bottom, var(--plus-lbl-color), var(--plus-lbl-color-dark));

			color: #ffffff;
			text-align: left;
			font-weight: bold;
		}
	}

	thead.alc-asset-tbl {
		tr {
			//			background-image: linear-gradient(to bottom, lightblue, navy);
			background-image: linear-gradient(to bottom, var(--plus-lbl-color), var(--plus-lbl-color-dark));

			//background-image: linear-gradient(to bottom, rgb(39, 164, 39), rgb(2, 58, 2));

		}
	}

	thead.alc-liability-tbl {
		tr {
			background-image: linear-gradient(to bottom, rgb(240, 124, 143), rgb(175, 6, 40));
		}
	}

	tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	tbody tr:nth-of-type(even) {
		background-color: rgb(231, 228, 228);
	}

	tbody tr:last-of-type {
		border-bottom: 4px solid #4489e2;
	}

	tbody tr.active-row {
		font-weight: bold;
		color: #78A5EB;
	}


	// ω <content_table>
}

/*
  Styles numeric `td` elements
*/
.numeric {
	// α <numeric>
	// ω <numeric>
}

/*
  Tax bill statement's tax bill row
*/
.tax-bill-tr {
	// α <tax_bill_tr>

	border-top: 2px solid;
	background-color: rgb(247, 177, 192);
	font-weight: bold;

	// ω <tax_bill_tr>
}

/*
  Style form content
*/
.form {
	// α <form>

	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 0.5rem;
	width: 100%;

	// fieldset {
	// 	width: 100%;

	// 	// legend {
	// 	// 	width: 100%;
	// 	// }
	// }

	max-width: 600px;
	//@media (max-width: 600px) {
	grid-template-columns: 1fr;
	//}

	// ω <form>
}

/*
  Style form row
*/
.form-row {
	// α <form_row>

	display: grid;
	grid-template-columns: 1fr;
	margin-left: 1rem;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	label {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		// The goal with this is to make all labeled items
		// have the label and content in one line. Doing this
		// messes up the mcs select buttons because the entire
		// content is inside the label
		// input {
		// 	display: inline-block;
		// }
	}


	// ω <form_row>
}

/*
  Style form row 2 cols
*/
.form-row-2-col {
	// α <form_row_2_col>

	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 1rem;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	label {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		// The goal with this is to make all labeled items
		// have the label and content in one line. Doing this
		// messes up the mcs select buttons because the entire
		// content is inside the label
		// input {
		// 	display: inline-block;
		// }
	}

	// ω <form_row_2_col>
}

/*
  Styles dynamic labels such as HoldingComponent's _market value_
  and _unrealized gain/loss_ and ItemGrowthSelect display of the NormalSpec
*/
.info-lbl {
	// α <info_lbl>
	font-weight: bold;
	color: green;
	margin-top: var(--plus-lbl-margin-top);
	margin-bottom: var(--plus-lbl-margin-bottom);
	margin-left: var(--plus-lbl-margin-left);
	margin-right: var(--plus-lbl-margin-right);
	// ω <info_lbl>
}

/*
  Style AccountComponent holdings
*/
.ac-holdings {
	// α <ac_holdings>
	// ω <ac_holdings>
}

/*
  Styles the view portion of the MultiButtonSelect
*/
.mbs-view {
	// α <mbs_view>

	min-width: 100px;
	min-height: 100px;
	overflow-x: scroll;

	// ω <mbs_view>
}

/*
  Style the interior div that has grid which is dynamically styled
*/
.mbs-interior {
	// α <mbs_interior>
	// ω <mbs_interior>
}

/*
  Style of bar under ToggleImageButton when selected (ie on)
*/
.tib-on {
	// α <tib_on>

	position: relative;
	width: 100%;
	margin-bottom: 3px;
	margin-top: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 4px;
	//background-color: var(--plus-underline-color);
	animation: grow-width 0.15s ease-in-out;

	//background-image: linear-gradient(to right, var(--plus-btn-color), var(--plus-cgc-header), var(--plus-btn-color));
	//	background-image: linear-gradient(to right, var(--plus-btn-color), var(--plus-cgc-header));
	background-image: linear-gradient(to right, var(--plus-mid-gold), var(--plus-dark-gold));

	// ω <tib_on>
}

/*
  Style of bar under ToggleImageButton when selected (ie on)
*/
.tib-off {
	// α <tib_off>

	position: relative;
	width: 100%;
	margin-bottom: 3px;
	margin-top: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 4px;
	// This is transparent
	background-color: rgba(255, 255, 255, 0.5);
	animation: shrink-width 0.15s ease-in-out;

	// ω <tib_off>
}

/*
  Style the dossier toolbar
*/
.dossier-toolbar {
	// α <dossier_toolbar>
	display: grid;
	grid-template-columns: repeat(6, 1fr) auto;
	min-width: 690px;
	max-width: 700px;
	// Center the toolbar
	margin: 0 auto;
	// ω <dossier_toolbar>
}

/*
  Style the shown area of dossier editor
*/
.dossier-show {
	// α <dossier_show>
	min-height: 10px;
	// ω <dossier_show>
}

/*
  Style the dossier name input in the editor
*/
.dossier-name-input {
	// α <dossier_name_input>
	margin: 1.0rem;
	// ω <dossier_name_input>
}

/*
  Style the language select in the nav bar
*/
.app-lang-select {
	// α <app_lang_select>
	margin-left: auto;
	position: relative;
	display: inline-flex;
	gap: 3rem;
	//align-items: baseline;
	//right: 2rem;
	// ω <app_lang_select>
}

/*
  Style the inner div of lang select
*/
.app-lang-select-inner {
	// α <app_lang_select_inner>
	display: flex;
	align-items: baseline;
	width: 7rem;
	gap: 1rem;

	// ω <app_lang_select_inner>
}

/*
  Style the currency select in the nav bar
*/
.app-currency-select {
	// α <app_currency_select>
	margin-right: 3rem;
	display: flex;
	align-items: baseline;
	vertical-align: middle;
	// ω <app_currency_select>
}

/*
  Style the collapsible header
*/
.collapsible-header {
	// α <collapsible_header>
	display: flex;
	justify-content: space-between;
	margin: 0.35rem;
	background-color: lightgray;
	font-weight: bold;
	// ω <collapsible_header>
}

/*
  Style the collapse button of collapsible
*/
.collapse-button {
	// α <collapse_button>
	margin-left: 0.3rem;
	// ω <collapse_button>
}

/*
  Style the collection grid container
*/
.collection-grid {
	// α <collection_grid>

	display: grid;

	// ω <collection_grid>
}

/*
  Style CollectionGridComponent editable section
*/
.cgc-editable {
	// α <cgc_editable>
	// ω <cgc_editable>
}

/*
  Style the cell contents
*/
.cgc-cell {
	// α <cgc_cell>

	padding: var(--plus-txt-padding);
	text-align: right;
	white-space: nowrap;

	&.odd {
		background-color: cyan;
	}

	&.even {
		background-color: lightgoldenrodyellow;
	}

	// ω <cgc_cell>
}

/*
  Style the add row button
*/
.cgc-add-row {
	// α <cgc_add_row>

	display: grid;
	background-color: var(--plus-btn-color);
	border: solid 1.5px;
	border-radius: 3px;
	grid-column-start: 1;
	grid-column-end: 6;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 0.85rem;
	padding: 3px;

	&:hover {
		background-color: var(--plus-btn-hover-color);
	}

	// ω <cgc_add_row>
}

/*
  Style the CashFlowTimeline zoom div
*/
.cft-zoom {
	// α <cft_zoom>
	margin-left: 3rem;
	display: inline;
	//align-items: flex-end;
	font-size: 0.7rem;
	// ω <cft_zoom>
}

/*
  Style the OkCancelBar
*/
.ok-cancel-bar {
	// α <ok_cancel_bar>
	display: flex;
	margin: 7px;
	justify-content: center;
	border: 1px solid green;
	border-radius: 3px;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	// ω <ok_cancel_bar>
}

/*
  Style the container (grid) for the FlowSpecComponent
*/
.fsc-ctnr {
	// α <fsc_ctnr>
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 3fr;
	// ω <fsc_ctnr>
}

/*
  Style/Position the name in the FlowSpecComponent
*/
.fsc-name-input {
	// α <fsc_name_input>
	grid-column: 1;
	grid-row: 1;
	// ω <fsc_name_input>
}

/*
  Style/Position the OneOfComponent outlining the Growth vs Custom in the FlowSpecComponent.
  Used to position this element within the grid
*/
.fsc-type {
	// α <fsc_type>
	grid-column: 2;
	grid-row: 1 / span 3;
	// ω <fsc_type>
}

/*
  Style/Position the _in_ vs _out_ radio buttons in the FlowSpecComponent
*/
.fsc-direction-rbs {
	// α <fsc_direction_rbs>
	display: grid;
	grid-column: 1;
	grid-row: 3;
	place-self: center stretch;

	input {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	// ω <fsc_direction_rbs>
}

/*
  YearRangeInput start entry
*/
.yri-start {
	// α <yri_start>
	margin-left: 0.25em // ω <yri_start>
}

/*
  YearRangeInput end entry
*/
.yri-end {
	// α <yri_end>
	margin-left: 0.25em // ω <yri_end>
}

/*
  Style the MultiColumnSelect labels
*/
.mcs-label {
	// α <mcs_label>
	text-align: left;
	padding: 2px;
	margin-left: 0.3rem;
	white-space: nowrap;
	// ω <mcs_label>
}

/*
  Style the MultiColumnSelect labels
*/
.mcs-select-label {
	// α <mcs_select_label>
	margin-left: 5px;
	text-align: right;
	vertical-align: baseline;
	white-space: nowrap;
	// ω <mcs_select_label>
}

/*
  Style the icon label in MultiColumnSelect
*/
.mcs-icon-label {
	// α <mcs_icon_label>
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2px;
	margin-left: 0.3rem;
	// ω <mcs_icon_label>
}

/*
  Style the icon in MultiColumnSelect
*/
.mcs-icon {
	// α <mcs_icon>
	text-align: left;
	// ω <mcs_icon>
}

/*
  Style the NormalSpecComponent fieldset
*/
.nsc-fieldset {
	// α <nsc_fieldset>
	// ω <nsc_fieldset>
}

/*
  Style the explore normal div
*/
.nsc-explore {
	// α <nsc_explore>
	vertical-align: bottom;
	// ω <nsc_explore>
}

/*
  Value Flow Spec container
*/
.vfsc-container {
	// α <vfsc_container>
	display: inline-flex;
	justify-content: center;
	// ω <vfsc_container>
}

/*
  Value Flow Spec category
*/
.vfsc-category {
	// α <vfsc_category>
	margin-right: 1rem;
	display: inline;
	// ω <vfsc_category>
}

/*
  Value Flow Spec currency
*/
.vfsc-currency {
	// α <vfsc_currency>
	margin-right: 1rem;
	// ω <vfsc_currency>
}

/*
  Value Flow Spec flows
*/
.vfsc-flows {
	// α <vfsc_flows>
	display: inline-block;
	// ω <vfsc_flows>
}

/*
  YearCurrencyValue currency element
*/
.ycv-currency {
	// α <ycv_currency>
	// ω <ycv_currency>
}

/*
  YearCurrencyValue value element
*/
.ycv-value {
	// α <ycv_value>
	align-self: flex-end;
	margin-left: 0.25rem;
	// ω <ycv_value>
}

/*
  YearCurrencyValue _as of_ element
*/
.ycv-as-of {
	// α <ycv_as_of>
	align-self: flex-end;
	padding: 2px 7px;
	// ω <ycv_as_of>
}

/*
  YearCurrencyValue year input element
*/
.ycv-year {
	// α <ycv_year>
	align-self: flex-end;
	// ω <ycv_year>
}

/*
  Wraps the MultiColumnSelect
*/
.mcs-grid {
	// α <mcs_grid>
	position: relative;
	display: inline;
	align-items: baseline;
	//float: left;
	//overflow-x: hidden;
	// overflow-y: visible;
	// ω <mcs_grid>
}

/*
  Main button in MultiColumnSelect
*/
.mcs-main-btn {
	// α <mcs_main_btn>
	border: 1px solid;
	border-radius: 0.3rem;
	padding: var(--plus-btn-padding);
	margin-top: var(--plus-btn-margin);
	white-space: nowrap;
	padding-block: 3px;
	padding-inline: 3px;
	font-size: var(--plus-sm-fnt);
	box-sizing: content-box;


	// ω <mcs_main_btn>
}

/*
  Select button in MultiColumnSelect
*/
.mcs-select-btn {
	// α <mcs_select_btn>
	white-space: nowrap;
	font-size: 0.8em;
	border: none;
	margin: 3px;
	padding: var(--plus-btn-padding);

	&:focus {
		background-color: var(--plus-btn-hover-color);
	}

	&.using-mouse:hover {
		background-color: var(--plus-btn-hover-color);
	}

	&:not(.using-mouse) {
		cursor: none;
		margin-left: 0.3rem;
	}

	// ω <mcs_select_btn>
}

/*
  Container holding selections of MultiColumnSelect
*/
.mcs-ctnr {
	// α <mcs_ctnr>
	position: absolute;
	top: 10px;
	left: 10px;
	display: grid;
	border: 1px solid;
	border-radius: 0.5em;
	z-index: 10;
	background-color: white;
	overflow-x: scroll;

	&.hidden {
		visibility: hidden;
	}

	// ω <mcs_ctnr>
}

/*
  OkCancel component ok button
*/
.occ-ok-btn {
	// α <occ_ok_btn>
	margin-right: 0.4em;
	font-size: 0.9em;
	font-weight: bold;
	// ω <occ_ok_btn>
}

/*
  OkCancel component cancel button
*/
.occ-cancel-btn {
	// α <occ_cancel_btn>
	margin-right: 0.4em;
	font-size: 0.9em;
	font-weight: bold;
	// ω <occ_cancel_btn>
}

/*
  Internal OneOfComponent container
*/
.ooc-ctnr {
	// α <ooc_ctnr>
	row-gap: 1rem;
	column-gap: 1rem;
	// ω <ooc_ctnr>
}

/*
  OneOfComponent radio button left-to-right
*/
.ooc-rb-ltr {
	// α <ooc_rb_ltr>
	padding-bottom: 8px;
	border-bottom: 2px solid black;
	// ω <ooc_rb_ltr>
}

/*
  OneOfComponent radio button top-to-bottom
*/
.ooc-rb-ttb {
	// α <ooc_rb_ttb>
	padding-right: 8px;

	// ω <ooc_rb_ttb>
}

/*
  Input field in YearInput
*/
.yi-input {
	// α <yi_input>
	// ω <yi_input>
}

/*
  The slider inside SliderWithNumericInput
*/
.swni-slider {
	// α <swni_slider>
	display: inline-block;
	vertical-align: sub;
	color: red;
	width: 6rem;
	background-color: green;
	// ω <swni_slider>
}

/*
  HistoricRiskReturn container
*/
.hrrc-ctnr {
	// α <hrrc_ctnr>
	display: flex;
	text-align: right;
	// ω <hrrc_ctnr>
}

/*
  HistoricRiskReturn dot
*/
.hrrc-dot {
	// α <hrrc_dot>
	height: 15px;
	width: 15px;
	margin: 0.35em;
	text-align: right;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	display: inline-block;
	// ω <hrrc_dot>
}

/*
  HistoricRiskReturn label container
*/
.hrrc-lbl-ctnr {
	// α <hrrc_lbl_ctnr>
	position: relative;
	// ω <hrrc_lbl_ctnr>
}

/*
  HistoricRiskReturn label
*/
.hrrc-lbl {
	// α <hrrc_lbl>
	position: absolute;
	bottom: 16.5%;
	left: 0;
	white-space: nowrap;
	// ω <hrrc_lbl>
}

/*
  HistoricRiskReturn plot
*/
.hrrc-plot {
	// α <hrrc_plot>
	grid-row-start: 1;
	grid-row-end: 4;
	// ω <hrrc_plot>
}

/*
  NormalLossComponent label
*/
.nlc-lbl-ctnr {
	// α <nlc_lbl_ctnr>
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	// ω <nlc_lbl_ctnr>
}

/*
  HoldingComponent container for growth and distributions
*/
.hc-extras-ctnr {
	// α <hc_extras_ctnr>
	grid-column-start: 1;
	grid-column-end: 2;
	// ω <hc_extras_ctnr>
}

/*
  Histogram selected row
*/
.hist-selected-row {
	// α <hist_selected_row>
	border-top: solid 2px;
	// ω <hist_selected_row>
}

/*
  Histogram pair of svg and table
*/
.hist-pair {
	// α <hist_pair>
	display: grid;
	//grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	// svg {
	// 	background-color: var(--plus-btn-color);
	// 	border-radius: 0.5rem;
	// 	border: solid 1px;
	// 	border-color: var(--plus-dark-gold);
	// 	transform: translateX(108%) scale(2.5, 1.0);
	// }
	// ω <hist_pair>
}

/*
  MonteSimulationSummaryComponent distribution plot
*/
.mssc-dist {
	// α <mssc_dist>

	width: 500px;

	// ω <mssc_dist>
}

/*
  MonteSimulationSummaryComponent distribution plot falling circles 1
*/
.mssc-circle-1 {
	// α <mssc_circle_1>
	animation: falling-circle-right 1.2s ease-in-out;
	fill: rgba(179, 37, 8, 0.651);
	// ω <mssc_circle_1>
}

/*
  MonteSimulationSummaryComponent distribution plot falling circles 2
*/
.mssc-circle-2 {
	// α <mssc_circle_2>
	animation: falling-circle-center 1.2s ease-in-out;
	fill: rgba(255, 115, 0, 0.823);
	//fill: white;
	//fill: "none";
	// stroke: rgb(255, 69, 0);
	// stroke-width: 0.3px;
	//display: none;
	// ω <mssc_circle_2>
}

/*
  MonteSimulationSummaryComponent distribution plot falling circles 3
*/
.mssc-circle-3 {
	// α <mssc_circle_3>
	animation: falling-circle-right 1.2s ease-in-out;
	fill: rgba(255, 179, 0, 0.891);

	// ω <mssc_circle_3>
}

/*
  MonteSimulationSummaryComponent distribution plot falling circles 4
*/
.mssc-circle-4 {
	// α <mssc_circle_4>
	animation: falling-circle-left 1.2s ease-in-out;
	fill: rgb(255, 215, 0);

	// ω <mssc_circle_4>
}

/*
  MonteSimulationSummaryComponent distribution median
*/
.mssc-median {
	// α <mssc_median>
	fill: black;
	// ω <mssc_median>
}

/*
  MonteSimulationSummaryComponent distribution mean
*/
.mssc-mean {
	// α <mssc_mean>
	fill: olive;
	// ω <mssc_mean>
}

/*
  MonteSimulationSummaryComponent distribution `geometric_mean_forecast`
*/
.mssc-gmf {
	// α <mssc_gmf>
	fill: blue;
	// ω <mssc_gmf>
}

/*
  CcdHistogram histograms div
*/
.ch-hists {
	// α <ch_hists>
	display: grid;
	grid-template-columns: 1fr 1fr;
	// ω <ch_hists>
}

/*
  CcdHistogram normal div
*/
.ch-normal {
	// α <ch_normal>

	//width: 300px;
	// ω <ch_normal>
}

/*
  CcdHistogram normal div
*/
.ch-lognormal {
	// α <ch_lognormal>
	//width: 300px;

	// ω <ch_lognormal>
}

/*
  ReconciledView grid to hold the equation
*/
.rv-grid {
	// α <rv_grid>
	display: inline-flex;
	//display: grid;
	//grid-template-columns: 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr;
	align-content: center;
	column-gap: 1rem;
	// ω <rv_grid>
}

/*
  ReconciledView income term
*/
.rv-income {
	// α <rv_income>

	// ω <rv_income>
}

/*
  ReconciledView expense term
*/
.rv-expense {
	// α <rv_expense>
	// ω <rv_expense>
}

/*
  ReconciledView assets term
*/
.rv-assets {
	// α <rv_assets>
	// ω <rv_assets>
}

/*
  ReconciledView equation term label
*/
.rv-grid-term {
	// α <rv_grid_term>

	display: grid;
	font-size: 1.0rem; //var(--plus-title-sz);
	text-align: center;
	align-items: center;
	// NO EFFECT: vertical-align: bottom;
	background-color: whitesmoke;
	border: 1px solid;
	border-radius: 7px;
	padding: 0.2rem;
	margin: 0.3rem;

	&.rv-income {
		background-color: rgb(190, 236, 190);
		;
	}

	&.rv-expense {
		background-color: rgb(247, 177, 192);
	}

	&.rv-assets {
		background-color: rgb(241, 235, 168);
	}

	// ω <rv_grid_term>
}

/*
  ReconciledView operator (ie `plus` `equals`)
*/
.rv-grid-op {
	// α <rv_grid_op>

	display: grid;
	font-size: 2.0rem;
	font-weight: bold;
	align-items: center;
	text-align: center;

	// ω <rv_grid_op>
}

/*
  ReconciledView numeric value
*/
.rv-grid-val {
	// α <rv_grid_val>

	font-size: var(--plus-title-sz);
	text-align: center;

	// ω <rv_grid_val>
}

/*
  ReconciledView _holding plan table_ and _tax table_
*/
.rv-tables {
	// α <rv_tables>

	display: grid;
	grid-template-columns: 1fr 1fr;

	// ω <rv_tables>
}

/*
  Balance Sheet Statement caption - which includes detail toggle button
*/
.bss-caption {
	// α <bss_caption>

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0;
	row-gap: 0;

	.plus-tib {
		.plus-tibc {
			margin: 5px 4px 3px 4px;
		}
	}

	// ω <bss_caption>
}

/*
  AssetLiabilityComponent inner content, inside the OneOfComponent
*/
.alc-inner {
	// α <alc_inner>

	// display: flex;
	// flex-direction: column;
	//display: grid;
	display: flexbox;
	//grid-template-rows: 0.35fr 3fr;
	//grid-template-columns: 1fr 1fr;
	//grid-template-rows: 1fr 1fr;
	// ω <alc_inner>
}

/*
  AssetLiabilityComponent svg with balance beam
*/
.alc-svg {
	// α <alc_svg>
	background-color: var(--plus-btn-color);
	border-radius: 0.5rem;
	border: solid 1px;
	border-color: var(--plus-dark-gold);
	transform: translateX(108%) scale(2.5, 1.0);

	// ω <alc_svg>
}

/*
  AssetLiabilityComponent svg container
*/
.alc-svg-ctnr {
	// α <alc_svg_ctnr>

	height: 150px;

	// ω <alc_svg_ctnr>
}

/*
  AssetLiabilityComponent asset and liability tables
*/
.alc-tables {
	// α <alc_tables>

	display: grid;
	grid-template-columns: 1fr 1fr;

	// ω <alc_tables>
}

/*
  AssetLiabilityComponent Asset table
*/
.alc-asset-tbl {
	// α <alc_asset_tbl>

	// tr {
	// 	background-image: linear-gradient(to bottom, yellow, green);
	// }

	// ω <alc_asset_tbl>
}

/*
  AssetLiabilityComponent Liability table
*/
.alc-liability-tbl {
	// α <alc_liability_tbl>
	// ω <alc_liability_tbl>
}

/*
  Monte Carlo distribution summary
*/
.mc-dist-svg {
	// α <mc_dist_svg>

	background-color: var(--plus-btn-color);
	border-radius: 0.5rem;
	border: solid 1px;
	border-color: var(--plus-dark-gold);
	transform: translateX(108%) scale(2.5, 1.0);

	// ω <mc_dist_svg>
}

/*
  AppNavBar Plusauri Dossiers
*/
.anb-plus-dossiers {
	// α <anb_plus_dossiers>

	display: flex;

	// ω <anb_plus_dossiers>
}

/*
  Table summary row
*/
.tbl-numeric-summary-row {
	// α <tbl_numeric_summary_row>
	border-top: solid 2px;
	border-bottom: solid 2px;
	// ω <tbl_numeric_summary_row>
}

/*
  Table summary row stark
*/
.tbl-numeric-summary-row-stark {
	// α <tbl_numeric_summary_row_stark>
	border-top: solid 2px;
	border-bottom: solid 2px;
	font-weight: bold;
	// ω <tbl_numeric_summary_row_stark>
}

/*
  Borrowed funds row
*/
.tbl-borrowed {
	// α <tbl_borrowed>
	background-color: rgb(247, 177, 192);
	// ω <tbl_borrowed>
}

/*
  TimeLine components selected year rectangle
*/
.tl-year-rect {
	// α <tl_year_rect>

	opacity: 0.55;
	fill: var(--plus-mid-gold);

	// ω <tl_year_rect>
}

/*
  AssetLiabilityComponent beam
*/
.alc-beam {
	// α <alc_beam>

	border: 3px solid;
	stroke: black;
	stroke-width: 0.5px;

	// ω <alc_beam>
}

/*
  AssetLiabilityComponent fulcrum
*/
.alc-fulcrum {
	// α <alc_fulcrum>

	stroke: black;
	stroke-width: 0.5px;

	// ω <alc_fulcrum>
}

/*
  AppCenterComponent
*/
.plus-acc {
	max-width: var(--plus-max-width);
	// α <app_center_component>
	//width: 1150px;
	height: 100vh;
	display: grid;
	grid-template-columns: 10px 1fr;
	grid-template-rows: 40px 1fr;
	// ω <app_center_component>
}

/*
  AppComponent
*/
.plus-app-component {
	max-width: 100%;
	// α <app_component>
	// ω <app_component>
}

/*
  AppNavBar
*/
.plus-anb {
	max-width: 100%;
	// α <app_nav_bar>
	// width: 100%;
	// grid-row: 1;
	// display: flex;
	// flex-direction: row;
	// justify-content: flex-start;


	//box-sizing: border-box;
	width: 100%;
	//width: 800px;
	background-color: var(--plus-btn-color);
	flex-grow: 1;
	//grid-row: 1;
	//display: flex;
	//flex-direction: row;
	//justify-content: flex-end;

	// ω <app_nav_bar>
}

/*
  AppSideBar
*/
.plus-asb {
	max-width: var(--plus-max-width);
	// α <app_side_bar>

	background-color: peachpuff;
	grid-row: 1 / span 2;
	grid-column: 1;

	// ω <app_side_bar>
}

/*
  ErrorDisplayComponent
*/
.plus-edc {
	max-width: var(--plus-max-width);
	// α <error_display_component>
	// ω <error_display_component>
}

/*
  CollapsibleComponent
*/
.plus-cc {
	max-width: var(--plus-max-width);
	// α <collapsible_component>
	// ω <collapsible_component>
}

/*
  CollectionGridComponent
*/
.plus-cgc {
	max-width: var(--plus-max-width);
	// α <collection_grid_component>
	// ω <collection_grid_component>
}

/*
  CoreComponentDisplay
*/
.plus-ccd {
	max-width: var(--plus-max-width);
	// α <core_component_display>
	//width: 100%;
	position: absolute;
	width: 95vw;

	// ω <core_component_display>
}

/*
  CssShow
*/
.plus-css-show {
	max-width: var(--plus-max-width);
	// α <css_show>
	// ω <css_show>
}

/*
  CurrencySelect
*/
.plus-cs {
	max-width: var(--plus-max-width);
	// α <currency_select>
	// ω <currency_select>
}

/*
  DateInput
*/
.plus-di {
	max-width: var(--plus-max-width);
	// α <date_input>
	display: inline;
	// ω <date_input>
}

/*
  DisposeTest
*/
.plus-dt {
	max-width: var(--plus-max-width);
	// α <dispose_test>
	// ω <dispose_test>
}

/*
  DistributionCdfComponent
*/
.plus-dcc {
	max-width: var(--plus-max-width);
	// α <distribution_cdf_component>

	display: flex;
	justify-content: center;

	// ω <distribution_cdf_component>
}

/*
  DistributionPdfComponent
*/
.plus-dist-pdf-comp {
	max-width: var(--plus-max-width);
	// α <distribution_pdf_component>
	// ω <distribution_pdf_component>
}

/*
  EnumSelect
*/
.plus-es {
	max-width: var(--plus-max-width);
	// α <enum_select>
	display: inline;
	// ω <enum_select>
}

/*
  HistoricRiskReturnComponent
*/
.plus-hrrc {
	max-width: var(--plus-max-width);
	// α <historic_risk_return_component>

	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr;
	max-width: 600px // ω <historic_risk_return_component>
}

/*
  HistogramComponent
*/
.plus-hist {
	max-width: var(--plus-max-width);
	// α <histogram_component>
	width: 700;
	// ω <histogram_component>
}

/*
  IntegerInput
*/
.plus-ii {
	max-width: var(--plus-max-width);
	// α <integer_input>
	// ω <integer_input>
}

/*
  MultiButtonSelect
*/
.plus-mbs {
	max-width: var(--plus-max-width);
	// α <multi_button_select>

	border: #000;
	border-width: 3px;
	//border-style: dashed;

	// ω <multi_button_select>
}

/*
  MultiColumnSelect
*/
.plus-mcs {
	max-width: var(--plus-max-width);
	// α <multi_column_select>
	display: inline;
	padding: var(--plus-btn-padding) // ω <multi_column_select>
}

/*
  NormalLossComponent
*/
.plus-nlc {
	max-width: var(--plus-max-width);
	// α <normal_loss_component>
	display: grid;
	grid-template-columns: 1fr 1fr // ω <normal_loss_component>
}

/*
  NormalSpecComponent
*/
.plus-nsc {
	max-width: var(--plus-max-width);
	// α <normal_spec_component>
	// ω <normal_spec_component>
}

/*
  NumericInput
*/
.plus-ni {
	max-width: var(--plus-max-width);
	// α <numeric_input>

	display: inline;
	align-items: end;
	// ω <numeric_input>
}

/*
  OkCancelComponent
*/
.plus-occ {
	max-width: var(--plus-max-width);
	// α <ok_cancel_component>
	margin: 2px;
	// ω <ok_cancel_component>
}

/*
  OneOfComponent
*/
.plus-ooc {
	max-width: var(--plus-max-width);
	// α <one_of_component>
	margin: 5px;
	padding: 10px;
	// ω <one_of_component>
}

/*
  PercentInput
*/
.plus-pi {
	max-width: var(--plus-max-width);
	// α <percent_input>
	// ω <percent_input>
}

/*
  SliderWithNumericInput
*/
.plus-swni {
	max-width: var(--plus-max-width);
	color: red;
	// α <slider_with_numeric_input>
	display: inline-block;
	vertical-align: text-bottom;

	input[type="range"] {
		-webkit-appearance: none;
		width: 90px;
		background: linear-gradient(to right, var(--plus-mid-gold), var(--plus-darkest-gold));
		border-radius: 1rem;
		height: 8px;
	}

	/* Set the thumb color based on value */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 15px;
		height: 15px;
		//background-color: linear-gradient(to right, var(--plus-mid-gold), var(--plus-darkest-gold));

		background-color: var(--plus-darker-gold);
		border-radius: 50%;
		//border: 2px solid #2980b9;
	}

	//   /* Change thumb color when the range input is active */
	//   input[type="range"]:active::-webkit-slider-thumb {
	// 	background-color: purple;
	// 	border-color: #1b659e;
	//   }

	//   /* Change thumb color when the range input is hovered */
	//   input[type="range"]:hover::-webkit-slider-thumb {
	// 	background-color: red;
	// 	border-color: #1b659e;
	//   }
	//width: 60;
	// ω <slider_with_numeric_input>
}

/*
  ToggleImageButton
*/
.plus-tib {
	max-width: var(--plus-max-width);
	// α <toggle_image_button>

	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		border: 1.5px solid;
		border-radius: 6px;
	}

	// ω <toggle_image_button>
}

/*
  ToggleImageButtonControl
*/
.plus-tibc {
	max-width: var(--plus-max-width);
	// α <toggle_image_button_control>


	display: flex;
	flex-direction: column;

	margin: 1rem 0.12rem 1rem 0.12rem;
	padding: 2 0.25rem 0 0.25rem;
	align-items: center;

	button {
		border: 1.5px solid;
		border-radius: 6px;
	}

	// ω <toggle_image_button_control>
}

/*
  YearCurrencyValueInput
*/
.plus-ycvi {
	max-width: var(--plus-max-width);
	// α <year_currency_value_input>
	box-sizing: content-box;
	display: inline-flex;

	button {
		margin-right: 3px;
	}

	// ω <year_currency_value_input>
}

/*
  YearInput
*/
.plus-yi {
	max-width: var(--plus-max-width);
	// α <year_input>
	display: inline;
	text-align: right;

	// ω <year_input>
}

/*
  YearRangeInput
*/
.plus-yri {
	max-width: var(--plus-max-width);
	// α <year_range_input>
	display: inline-flex;
	// ω <year_range_input>
}

/*
  YearValueInput
*/
.plus-yvi {
	max-width: var(--plus-max-width);
	// α <year_value_input>
	display: inline-flex;
	text-align: right;

	// ω <year_value_input>
}

/*
  YearValueSeriesComponent
*/
.plus-yvsc {
	max-width: var(--plus-max-width);
	// α <year_value_series_component>

	display: block;
	//	width: 12rem;

	.plus-yi,
	.plus-ni {
		text-align: right;

		input {
			width: 100%;
		}
	}

	// ω <year_value_series_component>
}

/*
  CcdCollectionGrid
*/
.plus-ccg {
	max-width: var(--plus-max-width);
	// α <ccd_collection_grid>
	// ω <ccd_collection_grid>
}

/*
  CcdMultiButton
*/
.plus-cmb {
	max-width: var(--plus-max-width);
	// α <ccd_multi_button>
	// ω <ccd_multi_button>
}

/*
  CcdHistogram
*/
.plus-ch {
	max-width: var(--plus-max-width);
	// α <ccd_histogram>
	// ω <ccd_histogram>
}

/*
  CcdOneOf
*/
.plus-coo {
	max-width: var(--plus-max-width);
	// α <ccd_one_of>
	// ω <ccd_one_of>
}

/*
  CcdYearsAndDate
*/
.plus-cyad {
	max-width: var(--plus-max-width);
	// α <ccd_years_and_date>
	// ω <ccd_years_and_date>
}

/*
  CcdNumbers
*/
.plus-cn {
	max-width: var(--plus-max-width);
	// α <ccd_numbers>
	// ω <ccd_numbers>
}

/*
  CcdSelectLists
*/
.plus-csl {
	max-width: var(--plus-max-width);
	// α <ccd_select_lists>
	// ω <ccd_select_lists>
}

/*
  CcdMisc
*/
.plus-cm {
	max-width: var(--plus-max-width);
	// α <ccd_misc>
	// ω <ccd_misc>
}

/*
  SampleWidgetGrid
*/
.plus-swg {
	max-width: var(--plus-max-width);
	// α <sample_widget_grid>
	// ω <sample_widget_grid>
}

/*
  NestedWidgetGrid
*/
.plus-nwg {
	max-width: var(--plus-max-width);
	// α <nested_widget_grid>
	// ω <nested_widget_grid>
}

/*
  AccountComponent
*/
.plus-ac {
	max-width: var(--plus-max-width);
	// α <account_component>
	// ω <account_component>
}

/*
  AccountsGrid
*/
.plus-ag {
	max-width: var(--plus-max-width);
	// α <accounts_grid>
	// ω <accounts_grid>
}

/*
  AgeAssumptionsComponent
*/
.plus-aac {
	max-width: var(--plus-max-width);
	// α <age_assumptions_component>
	// ω <age_assumptions_component>
}

/*
  BondSpecComponent
*/
.plus-bsc {
	max-width: var(--plus-max-width);
	// α <bond_spec_component>
	// ω <bond_spec_component>
}

/*
  ComponentDisplayComponent
*/
.plus-cdc {
	max-width: var(--plus-max-width);
	// α <component_display_component>
	// ω <component_display_component>
}

/*
  DistributionPolicyComponent
*/
.plus-dpc {
	max-width: var(--plus-max-width);
	// α <distribution_policy_component>
	display: flex;
	justify-content: center;
	// ω <distribution_policy_component>
}

/*
  DistributionSpecComponent
*/
.plus-dsc {
	max-width: var(--plus-max-width);
	// α <distribution_spec_component>
	// ω <distribution_spec_component>
}

/*
  GrowthAssumptionComponent
*/
.plus-gac {
	max-width: var(--plus-max-width);
	// α <growth_assumption_component>
	// ω <growth_assumption_component>
}

/*
  HoldingComponent
*/
.plus-hc {
	max-width: var(--plus-max-width);
	// α <holding_component>
	// ω <holding_component>
}

/*
  HoldingsGrid
*/
.plus-hg {
	max-width: var(--plus-max-width);
	// α <holdings_grid>
	// ω <holdings_grid>
}

/*
  ItemGrowthComponent
*/
.plus-igc {
	max-width: var(--plus-max-width);
	// α <item_growth_component>
	// ω <item_growth_component>
}

/*
  ItemGrowthSelect
*/
.plus-igs {
	max-width: var(--plus-max-width);
	// α <item_growth_select>
	display: flex;

	// ω <item_growth_select>
}

/*
  NameInput
*/
.plus-name-input {
	max-width: var(--plus-max-width);
	// α <name_input>
	// ω <name_input>
}

/*
  PersonComponent
*/
.plus-pc {
	max-width: var(--plus-max-width);
	// α <person_component>
	// ω <person_component>
}

/*
  PersonsGrid
*/
.plus-pg {
	max-width: var(--plus-max-width);
	// α <persons_grid>
	// ω <persons_grid>
}

/*
  SymbolInput
*/
.plus-si {
	max-width: var(--plus-max-width);
	// α <symbol_input>
	display: inline;
	// ω <symbol_input>
}

/*
  DossierEditor
*/
.plus-de {
	max-width: var(--plus-max-width);
	// α <dossier_editor>
	//background-color: wheat;
	//border: solid 2px;
	//border-radius: 4px 4px;
	padding: 5px;
	margin-bottom: 10px;
	//width: 1200;
	width: 100%;
	min-width: 650;
	max-width: 850px;

	// ω <dossier_editor>
}

/*
  FinModelDisplayComponent
*/
.plus-fmdc {
	max-width: var(--plus-max-width);
	// α <fin_model_display_component>
	// ω <fin_model_display_component>
}

/*
  FlowSpecComponent
*/
.plus-fsc {
	max-width: var(--plus-max-width);
	// α <flow_spec_component>
	// ω <flow_spec_component>
}

/*
  FlowSpecsGrid
*/
.plus-fsg {
	max-width: var(--plus-max-width);
	// α <flow_specs_grid>
	// ω <flow_specs_grid>
}

/*
  GrowingFlowSpecComponent
*/
.plus-gfsc {
	max-width: var(--plus-max-width);
	// α <growing_flow_spec_component>
	// ω <growing_flow_spec_component>
}

/*
  StringInput
*/
.plus-string-input {
	max-width: var(--plus-max-width);
	// α <string_input>
	// ω <string_input>
}

/*
  ValueFlowSpecComponent
*/
.plus-vfsc {
	max-width: var(--plus-max-width);
	// α <value_flow_spec_component>
	// ω <value_flow_spec_component>
}

/*
  WorthComponent
*/
.plus-wc {
	max-width: var(--plus-max-width);
	// α <worth_component>
	// ω <worth_component>
}

/*
  WorthsGrid
*/
.plus-wg {
	max-width: var(--plus-max-width);
	// α <worths_grid>
	// ω <worths_grid>
}

/*
  TaxDeterminantsComponent
*/
.plus-tdc {
	max-width: var(--plus-max-width);
	// α <tax_determinants_component>
	// ω <tax_determinants_component>
}

/*
  AssetLiabilityComponent
*/
.plus-alc {
	max-width: var(--plus-max-width);
	// α <asset_liability_component>
	// ω <asset_liability_component>
}

/*
  DossierResolvedView
*/
.plus-drv {
	max-width: var(--plus-max-width);
	// α <dossier_resolved_view>
	// ω <dossier_resolved_view>
}

/*
  ForecastConfigComponent
*/
.plus-fcc {
	max-width: var(--plus-max-width);
	// α <forecast_config_component>

	display: none;

	label {
		white-space: nowrap;
		padding: 1rem;
	}

	// ω <forecast_config_component>
}

/*
  ForecasterComponent
*/
.plus-fc {
	max-width: var(--plus-max-width);
	// α <forecaster_component>

	fieldset {
		//width: 100%;
	}

	/// *NOTE* This has no width impact
	//width: 100vh;
	//width: 0%;
	// ω <forecaster_component>
}

/*
  MatrixResolvedView
*/
.plus-mrv {
	max-width: var(--plus-max-width);
	// α <matrix_resolved_view>
	// ω <matrix_resolved_view>
}

/*
  BalanceSheetStatement
*/
.plus-bss {
	max-width: var(--plus-max-width);
	// α <balance_sheet_statement>
	// ω <balance_sheet_statement>
}

/*
  InvestmentPlanView
*/
.plus-ipv {
	max-width: var(--plus-max-width);
	// α <investment_plan_view>
	// ω <investment_plan_view>
}

/*
  ReconciledView
*/
.plus-rv {
	max-width: var(--plus-max-width);
	// α <reconciled_view>
	// ω <reconciled_view>
}

/*
  SalesPlanView
*/
.plus-spv {
	max-width: var(--plus-max-width);
	// α <sales_plan_view>
	// ω <sales_plan_view>
}

/*
  CashFlowStatement
*/
.plus-cfs {
	max-width: var(--plus-max-width);
	// α <cash_flow_statement>
	// ω <cash_flow_statement>
}

/*
  UsTaxStatementView
*/
.plus-utsv {
	max-width: var(--plus-max-width);
	// α <us_tax_statement_view>
	// ω <us_tax_statement_view>
}

/*
  ForecastPrimaryView
*/
.plus-fpv {
	max-width: var(--plus-max-width);
	// α <forecast_primary_view>
	// ω <forecast_primary_view>
}

/*
  AssetLiabilityTimeline
*/
.plus-alt {
	max-width: var(--plus-max-width);
	// α <asset_liability_timeline>
	width: 350px;
	// ω <asset_liability_timeline>
}

/*
  CashFlowTimeline
*/
.plus-cft {
	max-width: var(--plus-max-width);
	// α <cash_flow_timeline>
	width: 350px;
	// ω <cash_flow_timeline>
}

/*
  MonteConfigComponent
*/
.plus-mcc {
	max-width: var(--plus-max-width);
	// α <monte_config_component>
	//display: none;
	// ω <monte_config_component>
}

/*
  MonteSimulatorComponent
*/
.plus-msc {
	max-width: var(--plus-max-width);
	// α <monte_simulator_component>
	//display: none;
	// ω <monte_simulator_component>
}

/*
  MonteSimulationSummaryComponent
*/
.plus-mssc {
	max-width: var(--plus-max-width);
	// α <monte_simulation_summary_component>
	// ω <monte_simulation_summary_component>
}

/*
  AssumptionsComponent
*/
.plus-ass {
	max-width: var(--plus-max-width);
	// α <assumptions_component>
	// ω <assumptions_component>
}

/*
  DossierSpinOffSelector
*/
.plus-dsos {
	max-width: var(--plus-max-width);
	// α <dossier_spin_off_selector>
	// ω <dossier_spin_off_selector>
}

/*
  DossierBundleComponent
*/
.plus-dbc {
	max-width: var(--plus-max-width);
	// α <dossier_bundle_component>
	width: 100vw;
	// ω <dossier_bundle_component>
}

// α <component-display>


/*
  CoreComponentDisplay top section for update announcements
*/
.ccd-top-notify {
	// α <ccd_top_notify>
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	width: 98vw;
	background-color: #bbb;
	padding: 6px;
	border-style: inset solid;
	border-color: green;
	border-width: 6px;
	z-index: 2;
	max-height: 250px;
	overflow-y: scroll;
	// ω <ccd_top_notify>
}


.ccd-section-2col {
	.title {
		color: navy;
		font-size: 1.0rem;
	}

	display: grid;
	min-width: 600;
	max-width: vw;
	border: 3px solid;
	border-radius: 5px;
	grid-column: 1 / span 2;
}


/*
  CoreComponentDisplay container below the top notify section
*/
.ccd-ctnr {
	// α <ccd_ctnr>

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	row-gap: 1rem;
	width: 98vw;

	// ω <ccd_ctnr>
}


.ccd-section {
	.title {
		color: navy;
		font-size: 1.1rem;
		padding: 1rem;
	}

	min-width: 600;
	border: 3px solid;
	border-radius: 5px;

	.ccd-one-of-ctnr {
		.plus-ooc {
			display: grid;
			font-size: 0.7rem;
		}
	}


	/*
		CoreComponentDisplay number section
	*/
	.ccd-numbers {
		// α <ccd_numbers>

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		// ω <ccd_numbers>
	}

	/*
  		CoreComponentDisplay years and dates
	*/
	.ccd-time {
		// α <ccd_time>

		display: grid;
		grid-template-columns: 2fr 1.5fr;

		// ω <ccd_time>
	}

	/*
  		CoreComponentDisplay multi column select, enums, currency select
	*/
	.ccd-selects {
		// α <ccd_selects>
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 3fr 1fr;
		// ω <ccd_selects>
	}


	/*
	CoreComponentDisplay normal spec section
	*/
	.ccd-normal-spec {
		// α <ccd_normal_spec>
		display: grid;
		grid-template-columns: 1fr;

		// ω <ccd_normal_spec>
	}


	/*
	CoreComponentDisplay ok/cancel
	*/
	.ccd-ok-cancel {
		// α <ccd_ok_cancel>

		margin: 1rem;
		width: 100%;

		// ω <ccd_ok_cancel>
	}

	/*
	CoreComponentDisplay sliders
	*/
	.ccd-sliders {
		// α <ccd_sliders>

		input[type="range"] {
			width: 90px;
		}

		margin: 1rem;

		// ω <ccd_sliders>
	}


	/*
	CoreComponentDisplay rate curve
	*/
	.ccd-rate-curve {
		// α <ccd_rate_curve>

		display: grid;
		grid-column-gap: 0.75rem;
		grid-auto-flow: column;
		grid-template-columns: auto;
		margin: 1rem;

		// ω <ccd_rate_curve>
	}


}



// ω <component-display>