//@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
//@import url("https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css");

:root {
	box-sizing: border-box;
	--mcs-btn-color: cyan;
	--mcs-tbl-color: white;
	--plus-btn-color: hsl(120, 50%, 90%);
	--plus-btn-padding: 0.20rem;
	--plus-btn-margin: 0.15rem;
	--plus-background: white;
	--plus-label-bg: white;
	--plus-label-margin: 0 0.5rem 0.5rem 0;
	--plus-form-bg: white;
	--plus-sm-fnt: 0.75rem;
	--plus-label-margin-top: 0.3rem;
	--plus-label-margin-bottom: 0.3rem;
	--plus-label-margin-left: 0.3rem;
	--plus-label-margin-right: 0.3rem;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	// background-color: #709b90;
	font-family: Helvetica, Arial, sans-serif;
	font-family: sans-serif;
	font-size: 14px;
}


button {
	background-color: var(--plus-btn-color);
	border-radius: 0.25em;
	border: 1px solid;
	font-size: var(--plus-sm-fnt);
}

button:hover {
	background-color: hsl(120, 50%, 80%);
}

.form {
	background: #fff;
}

form {
	display: inline-block;
}


label {
	// This pushes the entries onto separate line
	display: block;
	white-space: nowrap;
	background-color: white;
	color: blue;
}

label > * {
	margin-left: 5px;
	margin-right: 5px;
}

form p {
	margin: 0;
}

// Whenever nesting input in label, space between text and input
// label > input {
// 	margin-left: 5px;
// }

.explore-normal {
	vertical-align: bottom;
}

.info-label {
	font-weight: bold;
	color: green;
	margin-top: var(--plus-label-margin-top);
	margin-bottom: var(--plus-label-margin-bottom);
	margin-left: var(--plus-label-margin-left);
	margin-right: var(--plus-label-margin-right);
}

//////////////////////////////

div.mcs-grid {
	position: relative;
	//float: left;
	//overflow-x: hidden;
	// overflow-y: visible;
}

.mcs-grid .main-button {
	background-color: var(--plus-btn-color);
	width: fit-content;
	width: -moz-fit-content;
	border: 1px solid;
	border-radius: 0.3rem;
	padding: var(--plus-btn-padding);
	margin-top: var(--plus-btn-margin);
}

.mcs-grid .container {
	position: absolute;
	top: 10px;
	left: 10px;
	display: grid;
	border: 1px solid;
	border-radius: 0.5em;
	z-index: 1;
	background-color: white;
	overflow-x: scroll;
}

.mcs-grid .select-button {
	background-color: hsl(120, 50%, 98%);
	white-space: nowrap;
	font-size: 0.8em;
	border: none;
	margin: 3px;
	padding: var(--plus-btn-padding);
}

.mcs-grid .select-button.using-mouse:hover {
	background-color: hsl(120, 50%, 90%);
}

.mcs-grid .select-button:focus {
	background-color: hsl(120, 50%, 90%);
}

.mcs-grid .container.hidden {
	visibility: hidden;
}

.mcs-grid .icon-label {
	display: grid;
	grid-template-columns: 2.5em 1fr;
	padding: 2px;
}

.mcs-grid .icon {
	// background-color: lightcyan;
	text-align: left;
}

.mcs-grid .select-button:not(.using-mouse) {
	//background-color: lightyellow;
	cursor: none;
}

.mcs-label {
	text-align: left;
	padding: 2px;
}

//// Holding

fieldset {
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

legend {
	font-weight: bold;
}

fieldset.disabled {
	background-color: lightgray;
}

input {
	font-size: var(--plus-sm-fnt);
	// has no effect since input is not an inline element: vertical-align: middle;
	margin-top: 3px;
	//margin-left: 0.5em;
}

label {
	vertical-align: bottom;
}

.holding .form {
	background-color: var(--plus-form-bg);
}

.collapsible-header {
	margin: 0.35rem;
	background-color: lightgray;
	font-weight: bold;
	//font-size: 1.2rem;
}

.form-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 1rem;
	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.form-row label {
	margin-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.holding .currency-button {
	margin-top: -0.5rem;
	vertical-align: top;
}

///////// ItemGrowthComponent
.icg-select {
	padding: 5px;
}

.ig {
	display: flex;
}

.ig-growth-label {
	//background-color: yellow;
}

.invalid,
textarea {
	background-color: rgb(237, 199, 199);
	box-sizing: content-box;
}

input.invalid:focus {
	border: 3px solid red;
}

.ycv {
	box-sizing: content-box;
}

.ycv-value {
	align-self: flex-end;
	margin-left: 0.25rem;
}

.ycv-as-of {
	align-self: flex-end;
	padding: 2px 7px;
}

.ycv-year {
	align-self: flex-end;
}

.rate-curve-data {
	width: 10rem;
}

.yri-start,
.yri-end,
.yvi-year,
.yvi-value {
	margin-left: 0.25em
}

.header {
	background-color: hsl(120, 90%, 25%);
	text-align: right;
	font-weight: bold;
}

.cgc-insert {
	background-color: hsl(120, 50%, 90%);
}

.account-holdings {
	//margin: 2rem;
	margin-left: 1%;
	margin-right: 1%;
}

.cgc-header-cell {
	padding-left: 1rem;
	text-align: right;
}

.cgc-add-row {
	background-color: hsl(120, 50%, 88%);
	grid-column-start: 1;
	grid-column-end: 6;
}

.tooltip {
	position: relative;
	border-bottom: 1px dashed #000;
}

.tooltip:before {
	content: attr(data-text);
	position: absolute;

	top: 50%;
	transform: translateY(-150%);
	left: 100%;
	margin-left: 15px;
	width: 200px;
	padding: 10px;
	background: #000;
	color: #fff;
	text-align: center;

	display: none;
	opacity: 0;
	transition: .3s opacity;

}

.tooltip:hover:before {
	display: block;
	opacity: 1;
}

.tooltip:hover:after {
	opacity: 1;
}

.tooltip.left:before {
	left: initial;
	margin: inital;

}

.tooltip:after {
	content: "";
	position: absolute;
	left: 100%;
	margin-left: -5px;
	top: 50%;
	transform: translateY(-50%);
	border: 10px solid #000;
	border-color: transparent black transparent transparent;
	display: none;
	opacity: 0;
	transition: .3s;
}

.tooltip:hover:before,
.tooltip:hover:after {
	display: block;
}

.ok-button {
	margin-right: 0.4em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;	
}

.historic-legend {
	font-size: var(--plus-sm-fnt);
}
.inactive-edit {
	background-color: lightgrey;
}

.collapse-button {
	margin-left: 0.3rem;
}

.ok-cancel-bar {
	display: flex; 
	margin-top: 3px;
	justify-content: center; 
	background-color: hsl(120, 50%, 95%);
	border: 1px solid green;
	border-radius: 3px;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
}

.dossier-toolbar {
	display: inline-flex;
	//background-color: hsl(120, 50%, 90%);
}

.label-button {
	display: inline-block;
	margin: 0.2rem;
	padding: 0.5rem;
	label {
		margin-top: 0.4rem;
	}
}

.dossier-show {
	min-height: 140px;
	background-color: hsl(120, 50%, 90%);
}
